<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 1.全局配置：驼峰规则；禁用二级缓存redis -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="cacheEnabled" value="false"/>
	</settings>
	
</configuration>  